@font-face {
    font-family: "Young Serif";
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('woff2'),}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: $Eggshell;
   color: $WengeBrown;
   font-family: "Young Serif";
   margin: 500px 0;
}
span{
    font-weight: bolder;
}

