@font-face {
    font-family: "Outfit";
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('woff2'),}

   
      
      @font-face {
        font-family: "Young Serif";
        src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
      }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: $Eggshell;
   color: $WengeBrown;
   font-family: "Outfit";
  
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   margin: 0; /* Ensure no margin is applied */
   
   
}
span{
    font-weight: bolder;
}

