
.card{
    background-color: white;
    border-radius: 20px;
    margin: 130px 5px;
    padding: 40px;
   
   
    img{
        border-radius: 10px;
        width: 100%;
    }
    
    h1{
        color: $DarkCharcoal;
        padding: 20px 0;
        font-size: 2.2rem;
        font-weight: 400;
        font-family: "Young Serif";
    }
    h2{
        color: $Nutmeg;
        padding: 10px 0;
        font-size: 1.75rem;
        font-weight: 400;
        font-family: "Young Serif";
    }
    p{
        font-size: 16px;
        max-width: 650px;
    }
    
   
}


.Preparation-card{
    background-color:$RoseWhite ;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 20px 0;
    h3{
        color: $DarkRaspberry;
        padding: 10px 0;
        
    }
    ul{
        padding: 0 22px;
       ::marker{
        color: $DarkRaspberry;
       }
    }
    li{
        padding:  5px 20px;
    }
  

}
.Ingredients{
   
    ul{
        padding: 0 22px;
       ::marker{
        color: $Nutmeg;
       }}
       li{
        line-height: 1;
        padding:  6px 20px;
    }
    hr{
        color:$WengeBrown ;
        margin: 25px 0;
        opacity: 0.3;
    }
}
.Instructions{
   
    ol{
        max-width: 650px;
        padding: 0 20px;
       ::marker{
        color: $Nutmeg;
       }}
       li{
        line-height: 1;
        padding:  5px 10px;
    }
    hr{
        color:$WengeBrown ;
        margin: 25px 0;
        opacity: 0.3;
    }
}
.Nutrition{
    h2{
        color: $Nutmeg;
        padding: 10px 0;
    }
    p{
        padding: 5px 0;
    }
    table{
        border-collapse: collapse;
        width: 100%;
    }
    th,td{
        padding: 12px 25px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    td{
        color: $Nutmeg;
        font-weight: bolder;
       
    }
    
}